*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #e1e1e1;
}
section#main{
  background-image: url(../assets/images/images1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center ;
  color:#FFF;
  width: 100%;
  height: 100vh;
}

footer{
  color: #FFFF;
  background-color: black;
}
.banner{
  letter-spacing: 0.8rem;
  position: absolute;
  color: white;
  background-color: rgba(0,0,0,.6);
  padding: 2% 8%;
  top: 30%;
  left: 12.5%;
  width: 75%;
  text-align: center;
}
.banner p{
  font-size: 1.5em;
}
hr{
  color:#fff;
  border:2px solid;
}
.border {
  background: #52edc7;
  width: 80%;
  margin: 0 auto;
  padding: 1px;
}

/* #contact ul  {
  list-style-type: none;
  display: inline-block;
  margin: 25px;
  padding: 15px;
}  */
#contact li{
  margin-top:10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#contact a{
  text-decoration: none;
  color: #3333;
}
#skill{
  background-color: #ddedf8;
  transform:skew(0deg, -5deg);
}
#skills> div:nth-child(1){
  transform:skew(0deg, 5deg);
}
.marg-top{
  margin-top: 15px;
}
.strip {
  margin: 28px 0 0px 0;
}
section{
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.blog-grids {
  margin-top: 50px;
}
.blog-text-info:nth-child(1), .blog-text-info:nth-child(2), .blog-text-info:nth-child(3) {
  margin-bottom: 30px;
}
.blog-text-info {
  position: relative;
}
.blog-grid {
  border: 1px solid #dedede;
  border-radius: 4px;
}
.blog-grid a {
  text-decoration: none;
  font-size: 20px;
  color: #2b2b2b;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}
.blog-grid img {
  width: 100%;
}
.blog-text {
  padding: 60px 20px 25px 20px;
}
.stripa {
  background: #dedede;
  width: 30%;
  height: 1px;
  margin: 15px 0;
}

/* Cards */
.card-custom {
  overflow: hidden;
  min-height: 450px;
  border: 0;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}

.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;

}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
  position: absolute;
  top: 100px;
  left: 1.25rem;
  width: 100px;
  height: 100px;
}
.card-footer a:hover{
  color:wheat;
}
.cgrain{
  background: #816C60;
  transform:skew(15deg,0 deg);
  color:#ffff;
  font-weight: 100!important;
}
.color-brain{
  background-color: #734A2E;
  border: 1px solid #734A2E;
  color:#ffff;
}
.color-grain{
  color: #ab673d;
  border: 1px solid #ab673d;
}
/* #666052 #e1e1e1*/
.a-contact{
  color:#816C60;
}
.p-50{
  padding-top: 50px;
  padding-bottom: 50px;
}